body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

a,
a:hover,
a:focus {
    color: #19b9e7;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

h3 {
    font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

.inner-bg {
    padding: 60px 0 80px 0;
}

.form-box {
    margin-top: 70px;
}

.form-header {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #f3f3f3;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-header h3 {
    float: left;
    padding-top: 20px;
    margin-top: 0;
}

.form-footer {
    padding: 25px 25px 30px 25px;
    background: #eee;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}

.form-footer form textarea {
    height: 100px;
}

.form-footer form button.btn {
    width: 100%;
}

.form-footer form .input-error {
    border-color: #19b9e7;
}

.middle-border {
    min-height: 300px;
    margin-top: 170px;
    border-right: 1px solid #ddd;
}

.spacer {
    margin: 5%;
}

.centered {
    text-align: center;
}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
    .middle-border {
        min-height: auto;
        margin: 65px 30px 0 30px;
        border-right: 0;
        border-top: 1px solid #ddd;
    }
}